.home-page {
    width: 60% !important;
}

.login-page {
    width: 40% !important;
}

@media only screen and (max-width: 992px) {
    .home-page {
        width: 100% !important;
    }

    .login-page {
        width: 90% !important;
    }
}