@font-face {
  font-family: "Nirmala UI";
  src: url("./fonts/Nirmala.ttf");
}

@font-face {
  font-family: "noorehuda";
  src: url("./fonts/noorehuda-regular.ttf");
}

body {
  margin: 0;
  background-color: rgb(130, 159, 177) !important;
  font-family: Nirmala UI, noorehuda !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
